!!! 5
html.no-js
//
    <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    style
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='/webadmin/css/style.css', type='text/css')
    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
    
  body    
    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') #{title}
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Home
          //
            /.nav-collapse 
    .container
      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 Neo4j, Re-dressed
        p.lead
          | Bow tie, party dress or dungarees? Dress for success, appropriate for the occasion.
      //
         Example row of columns 
      .row
        .span3
          .thumbnail
            img(style='width: 300px; height: 200px;', src='themes/classic/img/thumbnail.png')
            .caption
              h3 Classic
              p
                | Simple and utilitarian, a good choice for any day of the week.
              p
                a.btn(href='/theme/classic') Behold »
        .span3
          .thumbnail
            img(style='width: 300px; height: 200px;', src='themes/classic/img/thumbnail.png')
            .caption
              h3 Copy Edit
              p
                | Same good looks, with text corrections and updates.
              p
                a.btn(href='/theme/copyedit') Behold »
        .span3
          .thumbnail
            img(style='width: 300px; height: 200px;', src='themes/tour/img/thumbnail.png')
            .caption
              h3 Tour
              p
                | A welcoming guide to Neo4j.
              p
                a.btn(href='/theme/tour') Behold »
        .span3
          .thumbnail
            img(style='width: 300px; height: 200px;', src='themes/classic/img/thumbnail.png')
            .caption
              h3 Classic
              p
                | Simple and utilitarian, a good choice for any day of the week.
              p
                a.btn(href='/theme/classic') Behold »
                
      hr      
      footer
        p &copy; Neo Technology #{new Date().getFullYear()}
    //
       /container 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script
      window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\\/script>')
    script(src='js/vendor/bootstrap.min.js')
